.carousel-container {
  .main-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .arrow {
      &:hover {
        color: rgb(0, 0, 116);
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  .nav-buttons {
    display: flex;
    justify-content: center;
    .button {
      margin: 10px;
    }
  }
}
