.section-header {
  margin-top: 20px;
  justify-content: center;
}

.section-description {
  font-size: 20px;
  margin: 20px 0px 20px 0px;
}

.divider {
  border-top: 2px solid black;
  margin-top: 5px;
}

.experience-story-button {
  display: flex;
  margin-top: -2px;
  padding: 10px;
  background-color: rgb(206, 221, 245);
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: rgb(171, 196, 230);
    cursor: pointer;

    .down {
      -moz-animation: bounce-down 1s infinite;
      -webkit-animation: bounce-down 1s infinite;
      animation: bounce-down 1s infinite;
    }

    .up {
      -moz-animation: bounce-up 1s infinite;
      -webkit-animation: bounce-up 1s infinite;
      animation: bounce-up 1s infinite;
    }
  }

  @keyframes bounce-down {
    0%,
    100% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(5px);
    }
  }

  @keyframes bounce-up {
    0%,
    100% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
}

.open {
  background-color: rgb(171, 196, 230);
}
