* {margin: 0; padding: 0;}

body {
    padding: 30px 30px 50px 30px;
    background-color: #03264c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;

    .main-site {
        padding: 50px 80px 50px 80px;
        background-color: seashell;
        width: 800px;
    }
    
    @media(max-width: 999px) {
        .main-site {
            padding: 50px 20px 0px 20px;
            width: 500px;
        }
    }
    
    @media(max-width: 599px) {
        .main-site {
            width: 300px;
        }
    }
}