.content-row {
    background-color: rgb(247, 247, 247);
    padding: 10px;
    border: 2px solid black;
    border-top: 0;
}

.content-modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    .modal-container {
        position:fixed;
        background: seashell;
        width: 80%;
        height: auto;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 20px;

        .header{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 2px solid black;
        }
    }
}

.sub-item {
    margin: 10px;
    text-align: center;

    .text{
        margin-top: 10px;
        font-size: 20px;
        line-height: 20pt;
    }
}