.content-row {
  background-color: rgb(247, 247, 247);
  padding: 10px;
  border: 2px solid black;
  border-top: 0;
}

.sub-item {
  margin: 10px;
  text-align: center;

  .text {
    margin-top: 10px;
    font-size: 20px;
    line-height: 20pt;
  }
}
